<h2>I AMA Homepage</h2>

<%= will_paginate @links %>

<ul>
	<% @links.each do |link| %>
		<li><a href=http://"<%= link.url %>" target=_blank><%= link.title %></a>
		<%= link_to "comments", link %>
		
		<% if current_user.votes.where(:link_id => link.id, :up => true).present? %>
			*
		<% else %>
			<%= link_to "+", votes_path(:vote => {:link_id => link.id, :up => true}), :method => :post %>
		<% end %>
		
		<% if current_user.votes.where(:link_id => link.id, :up => false).present? %>
			*
		<% else %>
			<%= link_to "-", votes_path(:vote => {:link_id => link.id, :up => false}), :method => :post %>
		<% end %>
		
		Up Votes: <%= link.votes.where(:up => true).count %>
		Down Votes: <%= link.votes.where(:up => false).count %>
		Votes: <%= link.votes.where(:up => true).count - link.votes.where(:up => false).count %>
	<% end %>
</ul>	

<%= link_to "Add a link", new_link_path %>